@model NDRCreates.Models.DisplayModels.FeedDisplayModel
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    <a class="nav-link" asp-action="Index">
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Edit Data & Contents</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Data
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a asp-controller="Admin" asp-action="UnityPackagesEditPage" class="nav-link">
                                <div cite="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Edit Unity Packages
                            </a>
                            <a asp-controller="Admin" asp-action="CoursesEditPage" class="nav-link">
                                <div cite="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Edit Courses
                            </a>
                            <a asp-controller="Admin" asp-action="BlogEditPage" class="nav-link">
                                <div cite="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Edit Blog
                            </a>
                            <a asp-controller="Admin" asp-action="PortfolioEditPage" class="nav-link">
                                <div cite="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Edit Portfolio
                            </a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a asp-controller="Admin" asp-action="ViewCharts" class="nav-link">
                        <div cite="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a asp-controller="Admin" asp-action="ViewTables" class="nav-link">
                        <div cite="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                NDRCreates - Dashboard
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Edit Unity Packages</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home Page</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">Edit Unity Packages</li>
                </ol>
               @*  <div class="card mb-4">
                    <div class="card-body">
                        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                        .
                    </div>
                </div> *@

                <a type="button" class="btn btn-outline-primary mb-4" asp-controller="UnityPackages" asp-action="Create">Upload New Package</a>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Unity Packages
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Version</th>
                                    <th>File path</th>
                                    <th>Upload Date</th>
                                    <th>Download Count</th>
                                    <th>View Count</th>
                                    <th>Like Count</th>
                                    <th>Uploaded By</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Thumbnail</th>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Version</th>
                                    <th>File path</th>
                                    <th>Upload Date</th>
                                    <th>Download Count</th>
                                    <th>View Count</th>
                                    <th>Like Count</th>
                                    <th>Uploaded By</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var package in Model.Packages)
                                {
                                    <tr>
                                        <td><img src="@package.ThumbnailPath" class="card-img-top" alt="@package.Title"></td>
                                        <td>@package.Id</td>
                                        <td>@package.Title</td>
                                        <td>@package.Description</td>
                                        <td>@package.Version</td>
                                        <td>@package.FilePath</td>
                                        <td>@package.UploadDate</td>
                                        <td>@package.DownloadCount</td>
                                        <td>@package.ViewCount</td>
                                        <td>@package.LikeCount</td>
                                        <td>@package.User.UserName</td>
                                        <td>
                                            <a asp-controller="UnityPackages" asp-action="Edit" asp-route-id="@package.Id">Edit</a> |
                                            <a asp-controller="UnityPackages" asp-action="Details" asp-route-id="@package.Id">Details</a> |
                                            <a asp-controller="UnityPackages" asp-action="Delete" asp-route-id="@package.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>